echo "loading .env/shell.nix"
use nix .env/shell.nix

# load all dependencies via nix-shell
# if you don't use direnv,
# you need to run this command manually:
#
# nix-shell .env/shell.nix --command "$SHELL"
